@import "tailwindcss";

body { margin: 0; font-family: Inter, system-ui, sans-serif; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
